.App {
  text-align: center;
  margin: 0 auto;
  height: 120%;
}

html, body{
  height: 100%;
  width: 100%;
  clear: both;
}

.search {
  padding-top: 14px;
  padding-left: 18.5%;
  padding-right: 18.5%;
}

.card  {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

.description  {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.col-md-4.col-6 {
  margin: 0 auto;
}

/* edge cases where the company logo is not perfectly centered
because of how they are coming back from the api */
.img.logo {
  margin: 0 auto;
}

.details  {
  min-height: 600px;
}

.stocks {
  min-height: 359px;
  padding-bottom: 15px;
}

.footer  {
  position: relative;
  height: auto;
  clear: both;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-body  {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
