.App {
  text-align: center;
  margin: 0 auto;
}

.search {
  padding-top: 10px;
  padding-left: 18.5%;
  padding-right: 18.5%;
}

.card  {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

.description  {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.col-md-4 {
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-body  {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
